* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  width: 100%;
}

.offcanvas-body {
  color: #7a3f91;
}

.navbar-brand {
  margin: 0 auto;
}

#buttonHamburguer {
  background-color: #7a3f91;
  width: 5%;
  border: #7a3f91;
}

/* Nav */
#logoH {
  height: auto;
  width: 250px;
}

nav {
  box-shadow: 2px 2px 3px grey;
}

.nav-link:hover {
  color: #7a3f91;
}

/* Nav */

/* Contenedor con imagen static */
.firstSection {
  width: 100vw;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: grey;
}

.column-80 {
  width: 100%;
  height: auto;
  font-weight: bold;
  text-align: center;
}

.valor {
  font-size: 48px;
  text-align: center;
  text-shadow: 2px 2px 4px rgb(46, 45, 45);
}

.valor span:nth-child(1) {
  color: #7a3f91;
}

.valor span:nth-child(2) {
  color: #973884;
}

.valor span:nth-child(3) {
  color: #557abc;
}

.valor span:nth-child(4) {
  color: #41a6d7;
}

.slide {
  width: 100vw;
  margin: 50px 0;
}

.nuestrosServicios {
  width: 100vw;
  height: auto;
  padding: 50px;
  background-color: #7a3f91;
  color: white;
  overflow: hidden;
}

.promociones {
  width: 100vw;
  height: auto;
  background-color: #41a6d7;
  padding: 50px;
  margin:50px 0;
  color: white;
  border: solid red;
}

.infoRecargas {
  width: 100vw;
  margin:50px 0;
  border: solid blue;
}
.infoRecargasContainer {
  display: flex;
  width: 100%;
  margin: 0;
  padding: 0;
  border: solid yellow;
}
.containerText {
  border: solid green;
  padding: 0 50px;
  width: 50%;
  margin: 20px 0;
}
.infoRecargasContainer img {
  width: 40%;
  height: 300px;
  margin: auto;
  border: solid red;
}

.opiniones {
  width: 100vw;
  text-align: center;
  padding: 50px 0;
  border: solid red;
}
.textOpinionContainer {
  width: 60%;
  margin: 0 auto;
}
.textOpinionContainer p{
  color: grey;
}
.formContacUs {
  width: 100%;
  background-color:#557abc;
  height: 70vh;
  display: flex;
  align-items: center;
  padding: 0 100px;
}
.formContacUsText {
  text-align: left;
  width: 50%;
  color: white;
}
.formContainer {
  width: 50%;
}

.infoAdicional {
  width: 100vw;
  height: 30vh;
}

.consulta {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.consulta ul {
  width: 80%;
  color: rgb(134, 134, 134);
}

.consulta li {
  border-left: solid 5px #7a3f91;
}

.consulta ul li h5 {
  background-color: rgba(182, 182, 182, 0.217);
  font-size: 2.1em;
  padding: 10px;
}

.consulta a {
  text-decoration: none;
}

.textValor {
  text-align: center;
  font-size: 2em;
  padding: 10px;
  color: rgb(134, 134, 134);
  text-decoration: underline 3px #7a3f91;
}

.textPolitica {
  color: #557abc;
  font-weight: bold;
}

.aqui {
  color: #7a3f91;
  margin: 0;
}

.textValorTe {
  color: #557abc;
}

.textValorLe {
  color: #41a6d7;
}

.textValorCo {
  color: #7a3f91;
}

.textValorM {
  color: #9738844a;
}

.imgContainerPorta {
  border: solid red;
}

.mediosContainer {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #973884;
  color: white;
  border-radius: 25px;
}

.mediosOficiales {
  width: 50%;
  text-align: center;
}

.tiktokContainer {
  width: 50%;
  border-radius: 20px;
}

.tiktokContainer blockquote {
  border-radius: 20px;
}

/* Footer */
footer {
  background-color: #eee;
  padding: 50px;
  display: flex;
  flex-wrap: wrap;
}

.logo-footer {
  height: 80px;
  width: auto;
}

.column1 {
  flex: 1;
  margin-right: 50px;
  margin-bottom: 30px;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.column1 p {
  margin-top: 10px;
}

.column1 p strong {
  text-align: center;
}

.social-btns {
  margin-top: 50px;
}

.social-btns a {
  margin: 0 10px;
  color: #7a3f91;
}

.column {
  flex: 1;
  margin-right: 50px;
  margin-bottom: 30px;
  align-items: center;
  justify-content: center;
  text-align: left;
}

.column:last-child {
  margin-right: 0;
}

.column h3 {
  margin-top: 0;
  border: solid blacks;
}

.column ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.column ul li {
  margin-bottom: 10px;
  margin: 10px auto;
}

.column ul li a {
  color: #333;
  text-decoration: none;
  margin: 0 auto;
}

.column ul li a:hover {
  color: #7a3f91;
}



@media (max-width: 768px) {

  #logoH {
      height: auto;
      width: 150px;
  }

  .btn {
      width: 40vw;
      height: 40px;
      margin-left: 5px;
  }

  .carousel-indicators {
      display: none;
  }

  .two-columns {
      display: flex;
      margin: 0 auto;
      height: 100px;
      align-items: center;
      justify-content: center;
  }

  .column-80 {
      width: 100%;
      font-weight: bold;
      align-items: center;
      justify-content: center;
      text-align: center;
      display: flex;
      height: 100px;
      overflow: hidden;
      /* altura del contenedor */
  }

  .valor {
      font-size: 28px;
      display: flex;
      text-align: center;
      justify-content: center;
      text-shadow: 2px 2px 4px grey;
  }

  .column-20 {
      width: 100%;
      display: flex;
      justify-content: center;
  }

  .button {
      height: 70px;
      width: 70px;
  }

  .button img {
      width: 70px;
      height: auto;
      border-radius: 50%;
  }

  footer {
      background-color: #eee;
      padding: 0 auto;
      display: block;
      align-items: center;
      justify-content: center;
  }

  .logo-footer {
      height: 60px;
      width: auto;
  }

  .column1 {
      margin: 0 auto;
      margin-bottom: 60px;
      align-items: center;
      justify-content: center;
      text-align: center;
  }

  .column1 p {
      margin-top: 10px;
  }

  .column {
      margin: 0 auto;
      margin-bottom: 40px;
      display: block;
      align-items: center;
      justify-content: center;
      text-align: center;
  }

  .column:last-child {
      margin-bottom: 1px;
  }

  .consultaSaldoContainer {}

  .consultaSaldo {
      width: 85%;
      height: 100px;
      background-color: #7a3f91;
      color: white;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
  }

  .consultaSaldo h2 {
      font-weight: bold;
      font-size: 0.9em;
  }

  .consultaSaldo h2 span {
      color: #41a6d7;
  }

  .infoAdicional {
      height: 30vh;
      align-items: center;
      justify-content: center;
  }

  .consulta {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 30px;
  }

  .consulta ul {
      width: 80%;
      color: rgb(134, 134, 134);
  }

  .consulta li {
      border-left: solid 5px #7a3f91;
  }

  .consulta ul li h5 {
      background-color: rgba(182, 182, 182, 0.217);
      font-size: 0.9em;
      padding: 10px;
  }

  .consulta a {
      text-decoration: none;
  }

  .textValor {
      text-align: center;
      font-size: 2em;
      padding: 10px;
      color: rgb(134, 134, 134);
      text-decoration: underline 3px #7a3f91;
  }

  .textPolitica {
      color: #557abc;
      font-weight: bold;
  }

  .aqui {
      color: #7a3f91;
      margin: 0;
  }

  .textValorTe {
      color: #557abc;
  }

  .textValorLe {
      color: #41a6d7;
  }

  .textValorCo {
      color: #7a3f91;
  }

  .textValorM {
      color: #973884;
  }

  .imgContainerPorta {
      border: solid red;
  }

  .mediosContainer {
      display: block;
      padding: 0;
      text-align: center;
      margin: 10px 0;
      padding: 10px 0;
  }

  .mediosOficiales {
      width: 90%;
  }

  .tiktokContainer {
      width: 100%;
  }
}