* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  width: 100%;
}

.offcanvas-body {
  color: #7a3f91;
}

.offcanvas {
  background-color: #973884;
  color: white;
}

.navbar-brand {
  margin: 0 auto;
}

#buttonHamburguer {
  background-color: #7a3f91;
  width: 5%;
  border: #7a3f91;
}

/* Nav */
#logoH {
  height: auto;
  width: 250px;
}

nav {
  box-shadow: 2px 2px 3px grey;
}

.nav-link:hover {
  color: #7a3f91;
}

/* Nav */

.sectionPrincipal {
  width: 100vw;
  height: auto;
  display: flex;
  overflow: hidden;
  border: solid grey;
  border-radius: 20px;
}

.imgContainer {
  width: 50%;
  display: flex;
}

.imgContainer img {
  width: 55%;
  height: auto;
  margin: 0 auto;
}

.imgContainerRight {
  width: 50%;
}

.emojiContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5% 5%;
  text-align: center;
  border: solid black;
  padding: 10px;
  border-radius: 20px;
}

.emojiContainer img {
  width: 20%;
}

.emojiContainer div {
  font-weight: bold;
  width: 80%;
}

.emojiContainer div h4 {
  color: #7a3f91;
  font-weight: bold;
}

.infoAdicional {
  width: 100vw;
  height: auto;
  margin: 50px 0;
  text-align: center;
}

.consulta {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.consulta ul {
  width: 90%;
  color: rgb(134, 134, 134);
}

.consulta li {
  border-left: solid 5px #7a3f91;
}

.consulta ul li h5 {
  background-color: rgba(182, 182, 182, 0.217);
  font-size: 2.1em;
  padding: 10px;
}

.textPolitica {
  color: #557abc;
  font-weight: bold;
}

.listaPasos {
  width: 100%;
  margin: 50px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5em;
}

.listaPasos ol {
  width: 70%;

}

#buscar {
  color: #7a3f91;
  font-weight: bold;
}

#comprobar {
  color: #557abc;
  font-weight: bold;
}

.frame {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#mapaCobertura {
  width: 80%;
  height: 80vh;
}

.modemSection {
  width: 100vw;
  height: auto;
  text-align: center;
  border: solid grey;
  border-radius: 20px;
  overflow: hidden;
  padding: 10px;
}

.modemSection h2 {
  border-bottom: solid grey;
}

.modemContainer {
  width: 100%;
  height: auto;
  display: flex;
}

.imgModemContainer {
  width: 50%;
  height: auto;
}

.modem1 {
  width: 70%;
}

.infoModemContainer {
  width: 50%;
  height: auto;
  border: solid grey;
  border-radius: 20px;
  text-align: center;
}

.infoModemContainer h3 {
  width: 80%;
  margin: 15% auto 0;
}

.infoModemContainer h3:hover {
  font-size: 2em;
}

.infoModemContainer ul {
  width: 80%;
  margin: 10% auto;
  font-size: 1.3em;
  list-style: none;
  line-height: 200%;
}

.infoModemContainer ul li:hover {
  font-size: 1.5em;
}

/* .modem1:hover {
  display: none;
.modem2 {
  display: block;
}
} */
#textServicio {
  color: #7a3f91;
}

.modem2 {
  display: none;
}

.paquetes {
  width: 100vw;
  height: auto;
  margin: 50px 0;
  text-align: center;
  padding: 2%;
}

#textPromo {
  color: grey;
  font-weight: bold;
}

#textPaquetes {
  color: #973884;
  font-weight: bold;
}

#textModem {
  color: #557abc;
  font-weight: bold;
}

#textValor {
  color: grey;
  font-weight: bold;
}

.valor {
  font-weight: bold;
}

.valor span:nth-child(1) {
  color: #7a3f91;
}

.valor span:nth-child(2) {
  color: #973884;
}

.valor span:nth-child(3) {
  color: #557abc;
}

.valor span:nth-child(4) {
  color: #41a6d7;
}

#textInternet {
  margin: 50px 0;
  color: #973884;
  font-weight: bold;
}

.accordion {
  width: 80vw;
  margin: 0 auto;
}

.imgVelocidadContainer {
  padding: 2%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.containerImgVelocidad {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.containerImgVelocidad img {
  width: 30%;
  transition: 0.5s;
}

.containerImgVelocidad img:hover {
  width: 33%;
  transition: 1s;
}

.restricciones {
  width: 100%;
  text-align: left;
  margin: 200px 0 0 0;
  font-size: 0.9em;
}

/* Footer */
footer {
  background-color: #eee;
  padding: 50px;
  display: flex;
  flex-wrap: wrap;
}

.logo-footer {
  height: 80px;
  width: auto;
}

.column1 {
  flex: 1;
  margin-right: 50px;
  margin-bottom: 30px;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.column1 p {
  margin-top: 10px;
}

.column1 p strong {
  text-align: center;
}

.social-btns {
  margin-top: 50px;
}

.social-btns a {
  margin: 0 10px;
  color: #7a3f91;
}

.column {
  flex: 1;
  margin-right: 50px;
  margin-bottom: 30px;
  align-items: center;
  justify-content: center;
  text-align: left;
}

.column:last-child {
  margin-right: 0;
}

.column h3 {
  margin-top: 0;
  border: solid blacks;
}

.column ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.column ul li {
  margin-bottom: 10px;
  margin: 10px auto;
}

.column ul li a {
  color: #333;
  text-decoration: none;
  margin: 0 auto;
}

.column ul li a:hover {
  color: #7a3f91;
}

/* Contenedor de botones flotantes */
.button-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 9999;
}

.button {
  display: block;
  background-color: transparent;
  color: #fff;
  text-align: center;
  height: 80px;
  width: 80px;
  margin-bottom: 10px;
  border-radius: 50%;
  text-decoration: none;
  box-shadow: 2px 2px 4px grey;
}

.button img {
  width: 80px;
  height: auto;
  border-radius: 50%;
}

.button:hover {
  background-color: transparent;
}

@media (max-width: 768px) {

  #logoH {
    height: auto;
    width: 200px;
  }

  #buttonHamburguer {
    width: 15%;
  }

  .carousel-indicators {
    display: none;
  }

  .two-columns {
    display: flex;
    margin: 0 auto;
    height: 100px;
    align-items: center;
    justify-content: center;
  }

  .column-80 {
    width: 100%;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
    height: 100px;
    overflow: hidden;
    /* altura del contenedor */
  }

  .valor {
    font-size: 28px;
    display: flex;
    text-align: center;
    justify-content: center;
  }

  .column-20 {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .button {
    height: 70px;
    width: 70px;
  }

  .button img {
    width: 70px;
    height: auto;
    border-radius: 50%;
  }

  .sectionPrincipal {
    display: block;
  }

  .imgContainer {
    width: 100%;
  }

  .imgContainerRight {
    display: flex;
    width: 100vw;
  }

  .emojiContainer {
    width: 30vw;
    margin: 10px auto;
    display: block;
    padding: 0;
  }

  .emojiContainer img {
    margin: 0 auto;
    width: 70%;
  }

  .emojiContainer h4 {
    margin: 0;
    width: 100%;
    text-align: center;
    font-size: 0.7em;
  }

  .textContainer {
    text-align: center;
    margin: 0 auto;
  }

  .emojiContainer h5 {
    font-size: 0.7em;
    text-align: center;
    margin: 0;
  }

  .infoAdicional {
    height: 100vh;
  }

  .consulta {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }

  .consulta ul {
    width: 80%;
    color: rgb(134, 134, 134);
  }

  .consulta li {
    border-left: solid 5px #7a3f91;
  }

  .consulta ul li h5 {
    background-color: rgba(182, 182, 182, 0.217);
    font-size: 0.9em;
    padding: 10px;
  }

  .listaPasos {
    font-size: 0.9em;
  }

  .frame {}

  #mapaCobertura {
    width: 90%;
    height: 50vh;
  }

  .modemSection {
    display: block;
  }

  .modemSection h2 {
    font-size: 0.9em;
  }

  .modemContainer {
    display: block;
  }

  .imgModemContainer {
    width: 100%;
  }

  .infoModemContainer {
    width: 100%;
    font-size: 0.9em;
  }

  .infoModemContainer h3 {
    font-size: 1.5em;
  }

  .paquetes {
    margin: 30px 0 0 0;
  }

  #textPromo {
    font-size: 0.9em;
  }

  .paquetes h5 {
    font-size: 0.9em;
  }

  #textValor {
    font-size: 0.9em;
  }

  .valor {
    font-size: 0.9em;
  }

  #textInternet {
    font-size: 1.2em;
  }

  #accordionFlushExample {
    width: 95%;
  }

  .containerImgVelocidad1 img {
    width: 50%;
  }

  .containerImgVelocidad2 img {
    width: 33%;
  }

  .containerImgVelocidad3 img {
    width: 60%;
  }

  .restricciones {
    margin: 30px 0;
  }

  .restricciones p {
    font-size: 0.9em;
  }

  /* FOOTER */
  footer {
    background-color: #eee;
    padding: 0 auto;
    display: block;
    align-items: center;
    justify-content: center;
  }

  .logo-footer {
    height: 60px;
    width: auto;
  }

  .column1 {
    margin: 0 auto;
    margin-bottom: 60px;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .column1 p {
    margin-top: 10px;
  }

  .column {
    margin: 0 auto;
    margin-bottom: 40px;
    display: block;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .column:last-child {
    margin-bottom: 1px;
  }
}