* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  width: 100%;
}

.offcanvas-body {
  color: #7a3f91;
}

.navbar-brand {
  margin: 0 auto;
}

#buttonHamburguer {
  background-color: #7a3f91;
  width: 5%;
  border: #7a3f91;
}

/* Nav */
#logoH {
  height: auto;
  width: 250px;
}

nav {
  box-shadow: 2px 2px 3px grey;
}

.nav-link:hover {
  color: #7a3f91;
}

/* Nav */
.principal {
  display: flex;
  height: 55vh;
  width: 100vw;
  background-image: url(../assets/Recursos/fondo.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.imagePrincipal {
  height: 100%;
  width: 50%;
  margin-left: 10%;
}

.imagePrincipal img {
  height: 100%;
  margin: 0 40px;
}

.descripPrincipal {
  margin-right: 10%;
  width: 50%;
  height: 100%;
  text-align: center;
  color: white;
  padding: 20px 0;
}

.descripPrincipal h2 {
  font-weight: bold;
}

.descripPrincipal h3 {
  margin-top: 1%;
}

.descripPrincipal h4 {
  margin-top: 10px;
}

#buttonWhatsApp {
  margin-top: 1%;
  text-decoration: underline;
  font-size: 1.5em;
  width: 60%;
  height: 20%;
}

#valorTelecom {
  font-weight: bold;
  text-shadow: 2px 2px 4px rgb(93, 92, 92);
}

.textValorTe {
  color: #557abc;
}

.textValorLe {
  color: #41a6d7;
}

.textValorCo {
  color: #7a3f91;
}

.textValorM {
  color: #973884;
}

.secondary {
  text-align: center;
}

.secondary h2 {
  color: rgb(71, 70, 70);
  margin: 50px 0;
  font-weight: lighter;
  font-size: 2.5em;
}

.secondary img {
  width: 90%;
  margin: 0 0 20px 0;
}

.imgPaquetesContainer {
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.imgPaquetesContainer img {
  width: 20%;
  margin: 0 10px;
  border: solid #7a3f91;
  border-radius: 5px;
}

.consulta {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px 0;
}

.consulta ul {
  width: 70%;
  color: rgb(71, 70, 70);
}

.consulta li {
  border-left: solid 5px #7a3f91;
}

.consulta ul li h5 {
  background-color: rgba(128, 128, 128, 0.217);
  font-size: 1.8em;
  padding: 10px;
}

.consulta ul li div {
  background-color: rgba(128, 128, 128, 0.217);
  padding: 20px;
}

.consulta ul li div h2 {
  font-weight: bold;
  margin: 0;
}

.textPolitica {
  color: #557abc;
}

.aqui {
  color: #7a3f91;
  margin: 0;
}

.infoAd {
  margin: 10px 0;
  width: 100%;
  height: 90vh;
  text-align: center;
  font-weight: bold;
  color: rgb(71, 70, 70);
}

.infoAd h2 {
  font-size: 2.3em;
  margin: 1% 0;
}

#paquetesRecarga {
  color: #7a3f91;
}

.textActivado {
  font-weight: bold;
}

#textInternetM {
  color: #41a6d7;
}

.restricciones {
  width: 80vw;
  text-align: left;
  margin: 10% auto;
}

.restricciones h5 {
  font-size: 0.9em;
}

#textMb {
  color: #7a3f91;
  font-weight: bold;
}

/* Footer */
footer {
  background-color: #eee;
  padding: 50px;
  display: flex;
  flex-wrap: wrap;
}

.logo-footer {
  height: 80px;
  width: auto;
}

.column1 {
  flex: 1;
  margin-right: 50px;
  margin-bottom: 30px;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.column1 p {
  margin-top: 10px;
}

.column1 p strong {
  text-align: center;
}

.social-btns {
  margin-top: 50px;
}

.social-btns a {
  margin: 0 10px;
  color: #7a3f91;
}

.column {
  flex: 1;
  margin-right: 50px;
  margin-bottom: 30px;
  align-items: center;
  justify-content: center;
  text-align: left;
}

.column:last-child {
  margin-right: 0;
}

.column h3 {
  margin-top: 0;
  border: solid blacks;
}

.column ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.column ul li {
  margin-bottom: 10px;
  margin: 10px auto;
}

.column ul li a {
  color: #333;
  text-decoration: none;
  margin: 0 auto;
}

.column ul li a:hover {
  color: #7a3f91;
}

@media (max-width: 768px) {
  #logoH {
    height: auto;
    width: 200px;
  }

  #buttonHamburguer {
    width: 15%;
  }

  .principal {
    display: flex;
    height: 25vh;
    width: 100vw;
    background-image: url(../assets/Recursos/fondo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .imagePrincipal {
    height: 100%;
    width: 50%;
    margin-left: 0;
  }

  .imagePrincipal img {
    height: 100%;
    margin: 0;
  }

  .descripPrincipal {
    margin-right: 1%;
    width: 50%;
    height: 100%;
    text-align: center;
    color: white;
    padding: 20px 0;
  }

  .descripPrincipal h2 {
    font-weight: bold;
    font-size: 0.7em;
  }

  .descripPrincipal h3 {
    margin-top: 1%;
    font-size: 0.7em;
  }

  .descripPrincipal h4 {
    margin-top: 10px;
    font-size: 0.7em;
  }

  #buttonWhatsApp {
    margin-top: 1%;
    text-decoration: underline;
    font-size: 0.6em;
    width: 60%;
    height: 20%;
  }

  #valorTelecom {
    font-weight: bold;
    text-shadow: 2px 2px 4px rgb(93, 92, 92);
  }

  .textValorTe {
    color: #557abc;
  }

  .textValorLe {
    color: #41a6d7;
  }

  .textValorCo {
    color: #7a3f91;
  }

  .textValorM {
    color: #973884;
  }

  .button {
    height: 70px;
    width: 70px;
  }

  .secondary {
    text-align: center;
  }

  .secondary h2 {
    color: rgb(71, 70, 70);
    margin: 50px 0;
    font-weight: lighter;
    font-size: 1.5em;
  }

  .secondary img {
    width: 100%;
    margin: 0 0 10px 0;
  }

  .imgPaquetesContainer {
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
  }

  .imgPaquetesContainer img {
    width: 25%;
    margin: 0 10px;
    border: solid #7a3f91;
    border-radius: 5px;
  }

  .consulta {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
  }

  .consulta ul {
    width: 90%;
    color: rgb(71, 70, 70);
  }

  .consulta ul li h5 {
    background-color: rgba(128, 128, 128, 0.217);
    font-size: 0.9em;
    padding: 5px;
  }

  footer {
    background-color: #eee;
    padding: 0 auto;
    display: block;
    align-items: center;
    justify-content: center;
  }

  .logo-footer {
    height: 60px;
    width: auto;
  }

  .column1 {
    margin: 0 auto;
    margin-bottom: 60px;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .column1 p {
    margin-top: 10px;
  }

  .column {
    margin: 0 auto;
    margin-bottom: 40px;
    display: block;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .column:last-child {
    margin-bottom: 1px;
  }

  .infoAd {
    margin: 10px 0;
    width: 100%;
    padding: 10px;
    height: 60vh;
    text-align: center;
    font-weight: bold;
    color: rgb(71, 70, 70);
  }

  .infoAd h2 {
    font-size: 1.3em;
    margin: 1% 0;
  }

  .infoAd h3 {
    font-size: 0.9em;
  }

  .infoAd h4 {
    font-size: 0.9em;
  }

  .consulta h2 {
    font-size: 0.9em;
  }

  .textActivado {
    font-weight: bold;
  }

  #textInternetM {
    color: #41a6d7;
  }

  .restricciones {
    width: 80vw;
    text-align: left;
    margin: 10% auto;
  }

  .restricciones h5 {
    font-size: 0.7em;
  }

  #textMb {
    color: #7a3f91;
    font-weight: bold;
  }
}