* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  width: 100%;
}

.offcanvas-body {
  color: #7a3f91;
}
.btn {
  margin-right: 10px;
  border-radius: 0 0 10px 10px;
  color: white;
  background-color: #7a3f91;
}
.btn:hover {
  color: white;
  background-color: #557abc;
}
#logoH {
  height: auto;
  width: 200px;
}
nav {
  box-shadow: 2px 2px 3px grey;
}

.nav-link:hover {
  color: #7a3f91;
}
.dropdown-item:hover {
  color: #7a3f91;
}

.headerImg {
  width: 100vw;
  margin: 50px 0;
  text-align: center;
  font-weight: bold;
}
.headerImg img {
  width: 100vw;
  margin: 0 0 50px 0;
}
.headerImg h2 {
  font-weight: bold;
}
#textCuatroG {
  color: #557abc;
}
.textValor {
  color: grey;
}
.textValorTe {
  color: #557abc;
}
.textValorLe {
  color: #41a6d7;
}
.textValorCo {
  color: #7a3f91;
}
.textValorM {
  color: #973884;
}
.midle {
  text-align: center;
}
.midle h4 {
  color: #973884;
  font-weight: bold;
}
.midleImgContainer {
  width: 80vw;
  margin: 50px auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.midleImgContainer div {
  width: 33%;
}
.midleImgContainer img {
  margin: 0 20px;
  width: 20%;
}
.divContainerImg h4 {
  color: #7a3f91;
}
.boxBlue {
  width: 60%;
  background-color: #557abc;
  color: white;
  margin: 0 auto;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}
.boxBlue h2 {
  font-size: 2.9em;
}
.adquiereSim {
  margin: 50px 0;
  text-align: center;
}
.adquiereSim h5 {
  margin: 20px 0;
}
/* Frame */
.frame {
  display: flex;
  justify-content: center;
  align-items: center;
}
.frame iframe {
  width: 50%;
  height: 520px;
  margin: 0 auto;
  border: 0;
  padding: 0;
}

/* Footer */
footer {
  background-color: #eee;
  padding: 50px;
  display: flex;
  flex-wrap: wrap;
}

.logo-footer {
  height: 80px;
  width: auto;
}

.column1 {
  flex: 1;
  margin-right: 50px;
  margin-bottom: 30px;
  align-items: center;
  justify-content: center;
  text-align: left;
}

.column1 p {
  margin-top: 50px;
}

.column {
  flex: 1;
  margin-right: 50px;
  margin-bottom: 30px;
  align-items: center;
  justify-content: center;
  text-align: left;
}

.column:last-child {
  margin-right: 0;
}

.column h3 {
  margin-top: 0;
  border: solid blacks;
}

.column ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.column ul li {
  margin-bottom: 10px;
  margin: 10px auto;
}

.column ul li a {
  color: #333;
  text-decoration: none;
  margin: 0 auto;
}

.column ul li a:hover {
  color: #7a3f91;
}

/* Contenedor de botones flotantes */
.button-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 9999;
}

.button {
  display: block;
  background-color: transparent;
  color: #fff;
  text-align: center;
  height: 80px;
  width: 80px;
  margin-bottom: 10px;
  border-radius: 50%;
  text-decoration: none;
  box-shadow: 2px 2px 4px grey;
}
.button img {
  width: 80px;
  height: auto;
  border-radius: 50%;
}

.button:hover {
  background-color: transparent;
}

@media (max-width: 768px) {
  /* Header */
  .logo {
    margin-left: 0;
  }
  .btn {
    width: 40vw;
    height: 40px;
    margin-left: 5px;
  }
  .frame iframe {
    width: 100%;
    height: 520px;
  }

  /* Footer */
  footer {
    background-color: #eee;
    padding: 0 auto;
    display: block;
    align-items: center;
    justify-content: center;
    width: 100vw;
  }
  .logo-footer {
    height: 60px;
    width: auto;
  }
  .column1 {
    margin: 0 auto;
    margin-bottom: 60px;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .column1 p {
    margin-top: 10px;
  }
  .column {
    margin: 0 auto;
    margin-bottom: 40px;
    display: block;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .column:last-child {
    margin-bottom: 1px;
  }
  /* Header */
  .headerImg {
    width: 100vw;
  }
  .headerImg img{
    width: 100%;
  } 
  .headerImg h2 {
    font-weight: bold;
    font-size: 0.9em;
  }
  .midle {
    width: 100vw;
  }
  .midle h4 {
    color: #973884;
    font-weight: bold;
    font-size: 0.9em;
  }
  .divContainerImg {
    font-size: 0.8em;
    margin: 0 15px;
  }
  .divContainerImg img {
    height: 30px;
    width: auto;
  }
  .divContainerImg h5 {
    font-size: 0.8em;
  }
  .boxBlue {
    width: 80%;
    background-color: #557abc;
    color: white;
    margin: 0 auto;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .boxBlue h2 {
    font-size: 0.9em;
  }
  .adquiereSim {
    width: 100vw;
  }
  .adquiereSim h5{
    font-size: 0.8em;
  }
}
