* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  width: 100%;
}

.offcanvas-body {
  color: #7a3f91;
}

.navbar-brand {
  margin: 0 auto;
}

#buttonHamburguer {
  background-color: #7a3f91;
  width: 5%;
  border: #7a3f91;
}

/* Nav */
#logoH {
  height: auto;
  width: 250px;
}

nav {
  box-shadow: 2px 2px 3px grey;
}

.nav-link:hover {
  color: #7a3f91;
}

/* Nav */

.paquetes {
  height: 90vh;
}

.encabezado {
  color: #7a3f91;
  font-weight: bold;
  margin-left: 10px;
}

.sliderContainer {
  height: 80%;
  display: flex;
  border: solid 1px grey;
  border-radius: 10px;
  box-shadow: 2px 2px 3px grey;
  padding: 10px 0;
}

/* CSS para slider */
.descript {
  text-align: center;
  font-weight: bold;
}

.slide {
  width: 40%;
}

.carousel-inner {
  height: 90%;
  width: 60%;
  margin: 0 auto;
}

.carousel-inner img {
  margin: 0 auto;
}

.d-block {
  height: auto;
  width: 250px;
}

/*  */

.imgPaquetes {
  height: 90%;
}

.textContainer {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.lte {
  color: #557abc;
  font-weight: bold;
}

.textValor {
  font-weight: bold;
}

.valor {
  color: grey;
}

.te {
  color: #557abc;
}

.le {
  color: #41a6d7;
}

.co {
  color: #7a3f91;
}

.m {
  color: #973884;
}

.validacion {
  background-color: #557abc;
  padding: 10px;
}

.imgPaquetesActivacion {
  display: flex;
  align-items: center;
  justify-content: center;
}

.imgPaquetesActivacion img {
  width: 20%;
  margin: 10px;
}

.accordion {
  text-align: center;
}

.infoAdicional {
  height: 30vh;
}

.consulta {
  display: flex;
  justify-content: center;
}

.consulta ul {
  width: 50%;
  margin-top: 5%;
  color: rgb(71, 70, 70);

}

.consulta li {
  border-left: solid 5px #7a3f91;
}

.consulta ul li h5 {
  background-color: rgba(128, 128, 128, 0.217);
  font-size: 1.8em;
  padding: 10px;
}

.textPolitica {
  color: #557abc;
}

.aqui {
  color: #7a3f91;
  margin: 0;
}

/* Footer */
footer {
  background-color: #eee;
  padding: 50px;
  display: flex;
  flex-wrap: wrap;
}

.logo-footer {
  height: 80px;
  width: auto;
}

.column1 {
  flex: 1;
  margin-right: 50px;
  margin-bottom: 30px;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.column1 p {
  margin-top: 10px;
}

.column1 p strong {
  text-align: center;
}

.social-btns {
  margin-top: 50px;
}

.social-btns a {
  margin: 0 10px;
  color: #7a3f91;
}

.column {
  flex: 1;
  margin-right: 50px;
  margin-bottom: 30px;
  align-items: center;
  justify-content: center;
  text-align: left;
}

.column:last-child {
  margin-right: 0;
}

.column h3 {
  margin-top: 0;
  border: solid blacks;
}

.column ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.column ul li {
  margin-bottom: 10px;
  margin: 10px auto;
}

.column ul li a {
  color: #333;
  text-decoration: none;
  margin: 0 auto;
}

.column ul li a:hover {
  color: #7a3f91;
}

/* Contenedor de botones flotantes */
.button-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 9999;
}

.button {
  display: block;
  background-color: transparent;
  color: #fff;
  text-align: center;
  height: 80px;
  width: 80px;
  margin-bottom: 10px;
  border-radius: 50%;
  text-decoration: none;
  box-shadow: 2px 2px 4px grey;
}

@media (max-width: 768px) {
  #logoH {
    height: auto;
    width: 200px;
  }

  #buttonHamburguer {
    width: 15%;
  }

  .paquetes {
    height: auto;
    width: 100vw;
    overflow: hidden;
  }

  .encabezado {
    width: 100%;
    text-align: center;
  }

  .sliderContainer {
    display: block;
    width: 100%;
  }

  .imgPaquetes {
    height: 30vh;
    margin: 0 20%;
  }

  #carouselExampleDark {
    width: 100%;
    height: 400px;
    text-align: center;
  }

  .textContainer {
    width: 100%;
    text-align: center;
  }

  .imgPaquetesActivacion img {
    width: 40%;
    margin: 1px;
  }

  .infoAdicional {
    height: 20vh;
    width: 100vw;
    display: flex;
    align-items: center;
  }

  .consulta {
    display: flex;
    justify-content: center;
  }

  .consulta ul {
    width: 90%;
  }

  .consulta ul li h5 {
    font-size: 0.9em;
  }

  /* Footer */
  footer {
    background-color: #eee;
    padding: 0 auto;
    display: block;
    align-items: center;
    justify-content: center;
    width: 100vw;
  }

  .logo-footer {
    height: 60px;
    width: auto;
  }

  .column1 {
    margin: 0 auto;
    margin-bottom: 60px;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .column1 p {
    margin-top: 10px;
  }

  .column {
    margin: 0 auto;
    margin-bottom: 40px;
    display: block;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .column:last-child {
    margin-bottom: 1px;
  }
}